.break-word {
	word-wrap: break-word;
}

.apple-watch {
	background-color: #f2f2f2;
/* 	background-image: url("../img/apple-watch-hero.jpg"); */
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 45%
}

a.no-decoration, a.no-decoration:hover {
	text-decoration: none;
	color: inherit;
}